body{
  margin: 0;
}
h1{
    margin-top: 0;
}
.first_box{
  display: inline-block;
  background-color: #E4F9F5;
  height: 200px;
  width: 200px;
  border: solid 10px;
  padding: 20px;
}
.second_box{
  display: inline-block;
  background-color: red;
  height: 200px;
  width: 200px;
  border: solid 20px;
  margin-left: 260px;
}
.third_box{
  display: inline-block;
  background-color: blue;
  height: 200px;
  width: 200px;
  border: solid 10px;
  margin-left: 500px;
}